################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug-x64
/bin/Debug-Win-32
/bin-int/
/Temp files
