# Build results
*.dir/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
[Bb]in-int/
Debug/
Release/
DebugEditor/
ReleaseEditor/
3rdParty/Vulkan/
cmake-build-*/
CMakeFiles/

# Visual Studio 2015/2017 cache/options directory
.vs/
.idea/
*.vcxproj
*.user
*.sln
*.filters
CMakeCache.txt
cmake_install.cmake