[submodule "3rdParty/Assimp"]
	path = 3rdParty/Assimp
	url = https://github.com/assimp/assimp.git
[submodule "3rdParty/Catch2"]
	path = 3rdParty/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "3rdParty/EnTT"]
	path = 3rdParty/EnTT
	url = https://github.com/skypjack/entt.git
[submodule "3rdParty/GLI"]
	path = 3rdParty/GLI
	url = https://github.com/g-truc/gli.git
[submodule "3rdParty/GLM"]
	path = 3rdParty/GLM
	url = https://github.com/g-truc/glm.git
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdParty/ImGuizmo"]
	path = 3rdParty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "3rdParty/imnodes"]
	path = 3rdParty/imnodes
	url = https://github.com/JoranVandenbroucke/imnodes.git
[submodule "3rdParty/SDL"]
	path = 3rdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdParty/SDL_image"]
	path = 3rdParty/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "3rdParty/SDL_mixer"]
	path = 3rdParty/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "3rdParty/SDL_net"]
	path = 3rdParty/SDL_net
	url = https://github.com/libsdl-org/SDL_net.git
[submodule "3rdParty/SDL_rtf"]
	path = 3rdParty/SDL_rtf
	url = https://github.com/libsdl-org/SDL_rtf.git
[submodule "3rdParty/SDL_ttf"]
	path = 3rdParty/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "blink"]
	path = blink
	url = https://github.com/crosire/blink.git
[submodule "3rdParty/mINI"]
	path = 3rdParty/mINI
	url = https://github.com/pulzed/mINI.git
[submodule "https://github.com/JoranVandenbroucke/imgui.git"]
	url = 3rdParty/imgui
